<div class="about-me" id="about">
  <div class="img-profile"></div>
  <div class="box">
    <h2>Saya adalah Programmer</h2>
    <p>Hallo semuanya saya adalah TlawXp, saya adalah seorang laki-laki yang berumur 19 tahun yang tertarik pada
      dunia digital sejak masih duduk di bangku SDN KELAS 6, awalnya saya tertarik pada Cyber Security, namun saya
      tidak melanjutkannya karena kekurangan alat, komputer. Ketika saya pertama kali menulis kode pemograman, saya
      mempelajari bidang frond end dan back end sampai saat ini.</p>
    <ul>
      <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
    <a href="#" class="hubungi"><i class="fa-regular fa-phone"></i> Hubungi</a>
  </div>
</div>

