<div class="skill" id="skill">
  <h2>Keahlian</h2>
  <div class="flex">
    <!-- <div class="text"> -->
    <!--   <img src="static/img/tea-the-khajiit-cute.gif" alt="Foto"> -->
    <!-- </div> -->
    <div class="box1">
      <div class="box">
        <p>html</p>
        <div class="box-skill">
          <div class="html"></div>
        </div>
      </div>
      <div class="box">
        <p>css</p>
        <div class="box-skill">
          <div class="css"></div>
        </div>
      </div>
      <div class="box">
        <p>javascript</p>
        <div class="box-skill">
          <div class="js"></div>
        </div>
      </div>
      <div class="box">
        <p>python</p>
        <div class="box-skill">
          <div class="py"></div>
        </div>
      </div>
      <div class="box">
        <p>php</p>
        <div class="box-skill">
          <div class="php"></div>
        </div>
      </div>
      <div class="box">
        <p>flask</p>
        <div class="box-skill">
          <div class="flask"></div>
        </div>
      </div>
      <div class="box">
        <p>mysql</p>
        <div class="box-skill">
          <div class="mysql"></div>
        </div>
      </div>
      <div class="box">
        <p>B.Jepang</p>
        <div class="box-skill">
          <div class="jepang"></div>
        </div>
      </div>
      <div class="box">
        <p>B.Inggris</p>
        <div class="box-skill">
          <div class="inggris"></div>
        </div>
      </div>
      <div class="box">
        <p>Microsoft World</p>
        <div class="box-skill">
          <div class="world"></div>
        </div>
      </div>
      <div class="box">
        <p>Microsoft Excel</p>
        <div class="box-skill">
          <div class="excel"></div>
        </div>
      </div>
      <div class="box">
        <p>Desain Karakter anime</p>
        <div class="box-skill">
          <div class="anime"></div>
        </div>
      </div>
    </div>
  </div>
</div>
