@font-face {
  font-family: Comic;
  src: url("../../font/ComicNeue-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: Cute;
  src: url("../../font/Cute_Font.ttf");
}
@font-face {
  font-family: Cute-Love;
  src: url("../../font/Cute Love.ttf");
}
